@model Hospital_.Models.Paciente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:aliceblue">Detalhes dos Pacientes</h1>

<div style="color:aliceblue">
    <h4 style="color:aliceblue">Paciente</h4>
    <hr />
    <dl style="color:aliceblue" class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sintomas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sintomas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
